<!DOCTYPE html>
<html>
<head>
  <title>Eddroid</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class= "menu">
          <a href="http://eddroid.herokuapp.com" id="brand"> <%= image_tag 'logo.png' %> </a>
          <a href="https://github.com/Milad1991/Eddroid" id="github"> <%= image_tag 'github.png' %> </a>
  </nav>

  </div>


  <%= yield %>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
